@model Trips.ViewModels.ReviewViewModel

<form asp-controller="Review" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Username">Name:</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Review Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReviewPost">Provide A Description</label>
        <textarea asp-for="ReviewPost" class="form-control"></textarea>
        <span asp-validation-for="ReviewPost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Upload An Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
