@using Reviews.Models;
@using Reviews.ViewModels;
@model ReviewViewModel;

<form asp-controller="Review" asp-action="Create">
<input type="text">
<label for="content"></label>
<input type="submit" asp-action="Index">

</form>

