@using Trips.ViewModels;
@model Trips.ViewModels.ReviewViewModel


<form asp-controller="Review" asp-action="Create" method="post">
    <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit"/>
</form>




