@* @model Trips.ViewModels.ReviewViewModel

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="ReviewPost"></label>
        <textarea asp-for="ReviewPost"></textarea>
        <span asp-validation-for="ReviewPost"></span>
    </div>
    <div>
        <label asp-for="ImageFile"></label>
        <input type="file" asp-for="ImageFile" />
    </div>
    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>  *@
