@using Trips.Models;
@using Trips.ViewModels

@model List<ReviewViewModel>;

<h2>Review Post</h2>

<a asp-action="Create">Create New Post</a>

@foreach (var review in Model)
{
    <div>
        <h3>@review.Author</h3>
        <p>@review.Content</p>
        <p>Author: @review.Author</p>
        <p>Date: @review.PostedDate</p>
    </div>
}    
