@using CheckOptionViewModel

@* @{
ViewData["Title"] = "Itinerary Creation Page";
} *@

<h1>Checkbox Form With Api Options</h1>

@if (Model != null && Model.Count != null && Model.Count == 0)
{
  <p>No options found.</p>
}

else if (Model != null && Model.Count != null && Model.Count > 0)
{
  <form method="post">
    @foreach (CheckOption option in Model)
    {
      <input class="form-check-input" type="checkbox" id="@Model.CheckOption.Name" value="" aria-label="..." />
      <label for="@Model.CheckOption.Name">@Model.CheckOption.Name</label>
      <br>
    }
  </form>
}

else
{
  <p>Model is null or Model.Count is null.</p>
}
<button type="submit">Submit</button>

@* to view this page we want to go to Itinerary/Create *@
