@{
ViewData["Title"] = "Itinerary Creation Page";
}

@* I THINK need to install bootstrap in to here to use ViewData ??*@

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="checkbox11" value="" aria-label="..." />
   <label for="checkbox11">Option 1</label><br>
</div>

<div>
  <input class="form-check-input" type="checkbox" id="checkboxl2" value="" aria-label="..."/>
   <label for="checkbox12">Option 2</label><br>
</div>

<div>
  <input class="form-check-input" type="checkbox" id="checkboxl3" value="" aria-label="..."/>
   <label for="checkbox13">Option 3</label><br>
</div>