@using Itinerary.Models
@using Trips.Data;
@using Trips.Controllers;
@model Itinerary;
@* Make the model a list?
Build viewmodel
Add DTO *@
@* @model CheckOptionViewModel *@

@* @{
ViewData["Title"] = "Itinerary Creation Page";
} *@

<h1>Checkbox Form With Api Options</h1>

@if (Model.LocationDatas.Count > 0)
{
  <form method="post">
    @foreach (LocationData location in Model.LocationDatas)
    {
      
    }
  </form>
}

else
{
  <p>Model is null, Model.Count is null, or model is empty.</p>
}
<button type="submit">Submit</button>
 

@* to view this page we want to go to Itinerary/Create *@
