/* Styles for links */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #87B4DD; /* Default link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #0077cc; /* Hover color */
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(215, 228, 231, 0.637);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Custom link styles for .txt-light-blue class */
.txt-light-blue {
  color: #6d366e; /* Default text color set to purple */
  text-decoration: none; /* Remove underline */
}

.txt-light-blue:hover {
  color: #0077cc; /* Hover color */
}

.txt-light-blue:visited {
  color: #ffffff; /* Text color for visited links (white) */
}

