@using Itinerary.Models
@using Trips.Data;
@using Trips.Controllers;
@model List<LocationData>;
@* Make the model a list?
Build viewmodel
Add DTO *@
@* @model CheckOptionViewModel *@

@* @{
ViewData["Title"] = "Itinerary Creation Page";
} *@

<h1>Checkbox Form With Api Options</h1>

@if (Model.Count > 0)
{
  <form method="post" asp-controller="Trip" asp-action="Create">
    @foreach (LocationData location in Model)
    {
      <p>@location.Name</p>
    }
  </form>
}

else
{
  <p>Model is null, Model.Count is null, or model is empty.</p>
}
<button type="submit">Submit</button>
 

@* to view this page we want to go to Itinerary/Create *@