@using Trips.ViewModels;
@using Trips.Models;
@model ChatViewModel
@{
    ViewData["Title"] = "Chat";
}

<form asp-controller="Chat" asp-action="Messaging" method="Post">
 <div class="form-group">
        <label for="Message">Message:</label>
        <input type="text" id="Message" name="Message" class="form-control" />
    </div>
    <br />
    <div>
    @foreach(Chat? chats in Model.ChatLog)
    {
        <div>
            <label>
                @chats.Message
                @chats.Date
            </label>
        </div>
    }
</div>

    <br />
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>

