@using Trips.ViewModels;
@using Trips.Models;
@model ChatViewModel

<h2>Chat Messages</h2>

<div>
    @if (Model.ChatLog != null && Model.ChatLog.Any())
    {
        foreach (Chat chat in Model.ChatLog)
        {
            <div>
                <label>@chat.Message - @chat.Date.ToString("yyyy-MM-dd HH:mm:ss")</label>
            </div>
        }
    }
    else
    {
        <p>No chat messages available.</p>
    }
</div>

<hr />
<br />
<h2>Send a Message</h2>

<form asp-controller="Chat" asp-action="Messaging" method="post">
    <div class="form-group">
        <label for="Message">Message:</label>
        <input type="text" id="Message" name="Message" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>