@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is our logo that you can not use without permission.</p>

<div style="text-align:center;">
    <img src="https://i.imgur.com/nJKS51G.jpg" alt="Itinerary Designer Logo" style="max-width:100%; height:auto;">
</div>


