@using Trips.ViewModels;
@using Trips.Models;
@model ContactViewModel

<h2>Report any issues you ran into using our website</h2>

<form asp-controller="Contact" asp-action="Messages" method="post">
    <div class="form-group">
        <label for="Message">Message:</label>
        <input type="text-box" id="Message" name="Message" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>